
.white {
    color: hsl(0, 0%, 100%)
}

.yellow {
    color: hsl(60, 100%, 50%)
}

.orange {
    color: hsl(30, 100%, 50%)
}

.black {
    color: hsl(0, 0%, 0%)
}

.green {
    color: hsl(120, 100%, 25%)
}

.red {
    color: hsl(0, 100%, 50%)
}

.blue {
    color: hsl(240, 100%, 50%)
}

.badge {
    padding: 2pt;
}

strong.accepted {
    color: hsl(0, 0%, 100%);
    background-color: hsl(120, 100%, 25%)
}

strong.in_preparation {
    color: hsl(0, 0%, 100%);
    background-color: hsl(240, 100%, 50%)
}

strong.proposed {
    color: hsl(0, 0%, 100%);
    background-color: hsl(240, 100%, 50%)
}

strong.rejected {
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 100%, 50%)
}

strong.deprecated {
    color: hsl(30, 100%, 50%);
    background-color: hsl(0, 0%, 0%)
}

strong.superseded {
    color: hsl(30, 100%, 50%);
    background-color: hsl(0, 0%, 0%)
}

