
.badge {
    padding: 2pt;
}

strong.accepted {
    color: hsl(0, 0%, 100%);
    background-color: hsl(120, 100%, 25%)
}

strong.in_preparation {
    color: hsl(0, 0%, 100%);
    background-color: hsl(240, 100%, 50%)
}

strong.proposed {
    color: hsl(0, 0%, 100%);
    background-color: hsl(240, 100%, 50%)
}

strong.rejected {
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 100%, 50%)
}

strong.deprecated {
    color: hsl(30, 100%, 50%);
    background-color: hsl(0, 0%, 0%)
}

strong.superseded {
    color: hsl(30, 100%, 50%);
    background-color: hsl(0, 0%, 0%)
}

/*td.icon > div.title {
    background-color: blue;
    color: white
}

td.icon > div:contains("Note").title {
    background-color: orange;
    color: white
}

td.icon > div.title:contains("Note") {
    background-color: red;
    color: white
}*/
